.form {
    margin: 50px auto;
    max-width: 700px;
    max-height: 500px;
    border: 2px solid #3131e9;
    display: flex;
    padding: 60px 0px 40px;
    justify-content: space-around;
    align-items: center;
}