.header{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    padding: 10px 0;
    box-sizing: border-box;
    margin-bottom: 77px;
}

