.form{
    max-width: 255px;
    height: 255px;
    background-color: black;
    margin-top: 50px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    color:red;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

