.postitem {
    text-decoration: none;
    
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}